<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (errorMessage.length > 0) { %>
        <div class="user-message user-message--error"><%=errorMessage[0]%></div>
        <% } %>
        <form class="login-form" action="/newpassword" method="POST">
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="cpassword">Confirm New Password</label>
                <input type="password" name="cpassword" id="cpassword">
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" value="<%= userId %>" name="id">
            <input type="hidden" value="<%= token %>" name="token">
            <button type=submit>Reset</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>